#top {
  border-bottom: 1px solid;
  height: 300px
}
cat {
  padding-left: 50px;
  padding-right: 50px;
}
.contents {
  align-content: center;
  width: 600px;
  margin: auto;
}
a {
  font-weight: normal;
  color: black;
  text-decoration-line: none;
}
#add {
  color: purple;
  font-weight: bold;
  width: 30px;
  padding: 0px;
}
